@charset "utf-8";
/* CSS Document */

* {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}
body {
	height:100vh;
	background:linear-gradient(120deg, #66CCFF, #FF0066);
	display:flex;
	align-items:center;
	justify-content:center;
}
div.relogio {
	display:flex;
	align-items:center;
	justify-content:space-around;
	height:200px;
	width:550px;
	background:rgba(0,0,0,0.200);
	border-radius:3px;
	box-shadow:0px 8px 10px rgba(0, 0, 0, 0.500);
}
div.relogio div {
	height:170px;
	width:150px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	color:white;
	background:linear-gradient(45deg,rgb(51,0,102), rgba(5,5,5,0.900));
	box-shadow:0px 8px 10px rgba(0, 0, 0, 0.700);
	border-radius:10px;
	letter-spacing:3px;
}
div.relogio span {
	font-weight:bolder;
	font-size:60px;
}
div.relogio span.tempo {
	font-size:15px;
}